<header>
    <div class="wrapper">
        <a href="{% url 'article-list' %}">
            <h1>writing for fun</h1>
        </a>
        <nav>
            <ul>
                <li><a href="{% url 'add_post' %}">Add</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">log out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">log in</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
