@import 'nib'
@import 'lib/*'

global-reset()

html
body
    margin 0
    padding 0
    color $black
    background $white
    font-family $font
    word-spacing 0.2em
    letter-spacing 0.0825em

@import 'components/*'
