$merveilles = #72dec2;
$merveillesT = rgba(109, 223, 194, 0.5)

$highlight-yellow = #E4B04A
$highlight-pink = #ec008c
$highlight-blue = #00aeef

$highlight = $highlight-pink
$highlight-soft = transparentify($highlight, 0.5)

$mobile-width = 800px
$max-text-width = 1000px

$white = #EFE0B9
$gray1 = #f0f0f0
$gray2 = #e3e3e3
$gray3 = #999999
$gray4 = #666666
$gray5 = #333333
$gray6 = #0f0f0f
$black = #2A2C05

$blackT = rgba(0, 0, 0, 0.1)
