.markdown
    max-width $max-text-width
    &>:first-child
        margin-top 0px
    &>:last-child
        margin-bottom 0px
    &.no-margin
        &>:first-child
            margin-top 0px
    ul
        margin 20px 0 20px 0
        li
            font-size 1em
            max-width $max-text-width
            line-height 1.8em
            margin 10px 0 10px 0
            /* padding 0 0 0 10px */
            box-sizing border-box
            &:before
                content: '- '
            @media screen and (max-width: $mobile-width)
                width 100%
                font-size 0.8em
                line-height 1.6em
            a
                font-size 1.0em
            p
                display inline
                font-size 1.0em
    h1
        width 100%
        text-align left
        @media screen and (max-width: $mobile-width)
            font-size 1.4em
    h2
        margin 20px 0 20px 0
        @media screen and (max-width: $mobile-width)
            font-size 1.2em
    h3
        width 100%
        @media screen and (max-width: $mobile-width)
            font-size 1.1em
    p
        a
            font-size 1.0em
        &:first-child
            img
                display none
    blockquote
        font-style italic
        margin-left 1.5em
        padding-left 1em
        margin-bottom 20px
        border-left 2px solid $highlight-blue
        p
            color $gray3
            margin 0
    pre
        background-color $gray1
        display block
        padding 1em
        overflow-x auto
        margin 20px auto 20px auto
        border-left 2px solid $highlight-blue
        & > code
            padding 0
            background-color transparent
            white-space pre
    hr
        box-sizing content-box
        height 0
        overflow visible
        border-color $highlight-blue
    code
        font-size 0.9em
        padding 0 0.5em
        background-color $gray3
        white-space pre-wrap
    img
        width 100%
        height auto
        display block
        margin auto
        box-sizing border-box
    a
        color $highlight-yellow
        box-sizing border-box
        position relative
        z-index 2
        &:hover
        &.active
            color $highlight
