.square-list
    width 100%
    display block
    li
        display flex
        box-sizing border-box
        border 2px solid $black
        justify-content center
        align-items center
        transition border-color 0.2s ease
        &:hover
            border-color $highlight
    a
        padding 20px
        box-sizing border-box
        width 100%
        height 100%
    .date
    .title
    .author
        display block
        width 100%
    .title
        font-weight 300
        font-size 1.0em
        margin 0 0 20px 0
    .author
        font-weight 200
        font-size 1.0em
        margin 0 0 20px 0
    .date
        font-weight 100
        font-size 0.4em
