{% extends "base.html" %}

{% block content %}
<main>
    <div class="wrapper">
        <ul class="full-width grid square-list">
            {% for item in object_list %}
            <li class="grid-cell">
                <a href="{% url 'article-detail' item.slug %}">
                    <span class="title">
                        {{ item.title }}
                    </span>
                    <span class="date">
                        {{ item.date_created|date }} 
                    </span>
                </a>
            </li>
            {% empty %}
            <li>No articles yet.</li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
